.fwp-bsp {
  .fwp-bsp-schedule-field {
    padding: 0;
    margin: auto;
    border: 1px solid #ddd;
    transition: all .7s ease;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;

    .fwp-bsp-schedule-wrap {
      padding: 0 10px;
      
      .fwp-bsp-schedule {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;

        .fwp-bsp-input-prepend {
          margin-right: 10px;
          
          i.fa {
            padding: 10px;
            background: #eee;
            border-radius: 3px;
          }
        }
        input.ac-input {
          width: 100%;
        }
      }
    }
    &.fwp-bsp-visible {
      opacity: 1;
      visibility: visible;
      height: auto;
      overflow: visible;
      padding: 1rem 0;
      margin: 10px auto;
    }
  }
  &.bp-nouveau .activity-update-form .rtmedia-plupload-container {
    float: unset;
  }

  .fwp-bsf-post-schedule-timer[data-handled] {
    padding: 10px 15px;
    max-width: 400px;
    text-align: center;
    margin-top: 20px;
  
    .fwp-bsf-schedule-wrap {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      width: auto;
      
      .fwp-bsf-single {
        font-size: 35px;
        font-weight: 500;
        padding: 10px;
        border: .5px solid #ddd;
  
        &:after {
          content: attr(data-title);
          font-weight: 400;
          display: block;
          font-size: 20px;
        }
      }
    }
  }
  
  #buddypress #whats-new-form {
  
    .rtmedia-uploader-div {
      display: unset;

      // #rtmedia-uploader-form
      .rtmedia-container #rtmedia-action-update {
        margin-right: 40px;
        display: flex;

        #rtmedia-add-media-button-post-update {
          display: block !important;
        }
        #rtSelectPrivacy {
          margin-left: 47px;
        }
      }
    }
    #whats-new-options {
      width: 100%;
      overflow: visible;
      
      #whats-new-submit {
        text-align: left;
        display: block;
        margin-top: 30px;

        #fwp-whats-new-submit-schedule {
          background: none;
          color: #333;
          border: 1px solid #333;
        }
      }
      .post-elements-buttons-item.bpolls-html-container {
        float: left;
        left: 105px;
        margin-top: -40px;
        // margin-top: -38px !important;
        left: 40px;
      }
    }
  }

  #fwp-schedule-calendar {
    table.fc-col-header {
      margin-bottom: 0;
    }
    .fc-scrollgrid-section-body {
      .fc-scroller {
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
        &::-webkit-scrollbar-thumb {
          background: #888; 
          border-radius:10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }
        &.fc-scroller-liquid-absolute {
          bottom: unset;
          height: 100%;
          .fc-daygrid-body {
            height: 100%;
            table.fc-scrollgrid-sync-table {
              margin-bottom: 0;
              height: 100%;
            }
          }
        }
      }
    }
    .fwp-bsp--event-post {
      .postlink {
        display: block;
        text-align: center;
        padding: 2px 5px;
      }
      &:hover .postlink {
        display: none;
      }
      .postactions {
        display: none;
        .action-bars {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          > a {
            // color: #fff;
            color: currentColor;
            > span {
              display: none;
            }
            > i {
              display: block;
              &:hover {
                color: #ccc;
                + span {
                  display: block;
                  position: absolute;
                  top: -20px;
                  right: unset;
                  left: unset;
                  background: #333;
                  padding: 2px 5px;
                  border-radius: 3px;
                  transform: translateX(-7px);
                }
              }
            }
          }
        }
      }
      &:hover .postactions {
        display: block;
      }
    }
  }

  .reign-window-popup {
    .registration-login-form {
      min-height: 300px;
      // height: 300px;
      
      .title {
        padding: 10px 15px;
      }

      .content {
        padding: 10px 5px;
        display: none;

        &.is_active {
          display: block;
          
          iframe {
            height: 100%;
            width: 100%;
            min-height: 300px;
          }
        }

        #buddypress {
          #bp-nouveau-activity-form {
            padding: 5px;
            #whats-new-form {
              #whats-new-content {
                margin-left: 0;
                #whats-new-textarea {
                  display: flex;
                  flex-wrap: nowrap;
                  #whats-new-avatar {
                    img.avatar {
                      width: 30px;
                      height: 30px;
                      border-radius: 5px;
                    }
                  }
                }
              }
              #whats-new-options {
                margin-top: 20px;
                #rtmedia-action-update {
                  margin-right: 10px;
                  display: flex;
                  width: 100%;
                }
              }
            }
          }
        }
        &#bp-nouveau-activity-form {
          padding: 15px 0;
          border: none;
          #whats-new-content {
            margin-left: unset;
            #whats-new-textarea {
              #whats-new-avatar {
                display: none;
                textarea#whats-new {
                  min-height: 150px;
                }
              }
            }
            #whats-new-options {
              .rtmedia-plupload-container {
                width: 100%;
                margin-bottom: 20px;
                #rtmedia-action-update {
                  #rtSelectPrivacy {
                    margin-left: 50px;
                    margin-left: 10px;
                  }
                }
              }
              .bpolls-html-container {
                margin-top: -100px;
                left: 40px;
                display: none;
              }
              #whats-new-submit {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    .window-popup.widly {
      min-width: 80vw;
      max-width: 100vw;
      min-height: 80vh;
      @media (max-width: 750px) {
        width: 90vw;
      }
      @media (max-width: 500px) {
        width: 95vw;
      }
    }
  }
  &.fwp-bsp-activity-only {
    #buddypress.buddypress-wrap.bp-dir-hori-nav.bp-vertical-navs {
      #item-body {
        .item-body-inner-wrapper {
          > * {
            display: none;
          }
          // .bp-screen-title {
          //   display: block;
          // }
          #bp-nouveau-activity-form {
            display: block;
            padding-top: 40px;
            padding-bottom: 20px;
            #whats-new {
              min-height: 150px;
            }
            #rtSelectPrivacy {
              margin-left: 40px;
              margin-left: auto;
            }
            .post-elements-buttons-item.bpolls-html-container {
              margin-top: -38px;
              margin-top: -43px;
              left: 36px;
            }
            // .ck-editor {
            //   .ck-editor__main .ck-content {
            //     min-height: 150px;
            //   }
            //   .ck-button {
            //     &.ck-disabled {
            //       color: #fff;
            //       background: #b277ac;
            //     }
            //     svg {
            //       fill: #fff;
            //     }
            //   }
            // }
          }
          #activity-stream {
            display: none !important;
          }
        }
      }
      .rg-nouveau-sidebar-menu {
        display: none;
      }
      #secondary.member-profile-widget-area {
        display: none;
      }
    }
  }
  &.fwp-bsp-is_iframe {
      #content.site-content {
      padding-top: 0;
    }
    #wpadminbar, #masthead, #buddypress #item-header, #reign-menu-panel, footer, aside#secondary, .bp-messages-wrap.bp-better-messages-list, span.rg-dark__scheme-toggle, .rtm-media-likes-wrapper, .activity .item-list > li.load-more, .rtm-media-view-wrapper {
      display: none;
    }
    #page.site {
      padding-left: unset !important;
    }
  }
  &.fwp-bsp-activity-edit .activity .activity-content .activity-meta .buddyboss_edit_activity.is_highlighted_fwp:not(.is_clicked) {
    position: relative;
    z-index: 1;
    &:after {
      content: " ";
      position: absolute;
      height: 45px;
      width: 45px;
      z-index: -1;
      background: #eee;
      border-radius: 30px;
      border: 2px solid #ddd;
      animation: ring-indicator 1.2s infinite;
    }
  }
  #frm_buddypress-edit-activity #whats-new.bp-suggestions {
    min-height: 150px;
  }
}
@keyframes ring-indicator {
  0% {
    width: 45px;
    height: 45px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 65px;
    height: 65px;
    opacity: 0;
  }
}

/*

*/